* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #F2906C;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}

nav .logo img {
  height: 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ul li {
  margin: 0 2px;
}

nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li :hover {
  color: white;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}

nav .bar span {
  position: absolute;
  font-size: 35px;
}

body {
  background-color: #F2F2F7;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background-color: white;
}

.search-box input {
  border: none;
  outline: none;
  border-radius: 60px;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
}

.search-box span {
  color: black;
  font-size: 20px;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.search-box span :hover ::after {
  width: 100%;
}

.search-box span ::after {
  height: 100%;
  width: 100%;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-box span i {
  left: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    padding: 0;
  }
  nav .logo {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search-box {
    width: 90%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
  nav .search-box input {
    width: 90%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    color: black;
    font-size: 28px;
    padding: 25px;
    display: block;
  }
  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }
  nav .bar #x {
    display: none;
  }
  #check:checked ~ nav .bar #x {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 250px;
  }
}

section {
  margin-top: 2.5vh;
}

section h1 {
  font-size: 48px;
  text-align: center;
}

.magazine {
  margin-top: 2.5vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.magazine .magazin {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.magazine .magazin .scris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.magazine .magazin .scris p {
  font-size: 24px;
}

.magazine .magazin img {
  height: 100%;
  width: auto;
  max-width: 160px;
}

.magazine .magazin .btnn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.magazine .magazin .btnn a {
  text-decoration: none;
}

.magazine .magazin .btnn a button {
  height: 48px;
  padding: 20px;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #F2906C;
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
/*# sourceMappingURL=magazine.css.map */