*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    
    
}


@import "navbar";
@import "searchbar";
@import "media";
section{
    margin-top: 2.5vh;
    h1{
        font-size: 48px;
        text-align: center;
    }
}

.magazine{
    margin-top: 2.5vh;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    


    .magazin{
        width: 100%;
        height: 200px;
        background-color: white;
        border-radius: 20px;
        padding: 24px;
        position: relative;
        justify-content: space-between;
        text-align: center;
        display: flex;
        margin-bottom: 24px;
        .scris{
            display: flex;
            align-items: center;
            p{
                font-size: 24px;
                
            }
        }
        img{
            height: 100%;
            width: auto;
            max-width: 160px;
            
        }
        .btnn{
            display: flex;
            align-items: center;
            margin-right: 24px;
            
                a{
                    text-decoration: none;

                    button{
                        height: 48px;
                        padding: 20px;
                        border-radius: 12px;
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        
                        border: none;
                        background-color: #F2906C;
                        text-decoration: none;
                        color:white;
                        font-size: 24px;
                        cursor: pointer;
                    }
                    
                    
                }
            
        }

    }
}