* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #F2906C;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}

nav .logo img {
  height: 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ul li {
  margin: 0 2px;
}

nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li :hover {
  color: white;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}

nav .bar span {
  position: absolute;
  font-size: 35px;
}

body {
  background-color: #F2F2F7;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background-color: white;
}

.search-box input {
  border: none;
  outline: none;
  border-radius: 60px;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
}

.search-box span {
  color: black;
  font-size: 20px;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.search-box span :hover ::after {
  width: 100%;
}

.search-box span ::after {
  height: 100%;
  width: 100%;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-box span i {
  left: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    padding: 0;
  }
  nav .logo {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search-box {
    width: 90%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
  nav .search-box input {
    width: 90%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    color: black;
    font-size: 28px;
    padding: 25px;
    display: block;
  }
  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }
  nav .bar #x {
    display: none;
  }
  #check:checked ~ nav .bar #x {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 250px;
  }
}

.oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.oferta .stanga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}

.oferta .stanga .procent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oferta .stanga .procent h1 {
  color: green;
}

.oferta .stanga .details {
  margin-left: 12px;
}

.oferta .stanga .details .cod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.oferta .stanga .details .cod p {
  font-size: 18px;
  font-weight: 500;
  color: grey;
  margin-left: 4px;
}

.oferta .stanga .details .cod i {
  color: green;
  margin-left: 4px;
}

.oferta .stanga .reducere {
  margin-top: 24px;
}

.oferta .stanga .reducere h2 {
  font-size: 20px;
}

.oferta .btnn {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oferta .btnn a button {
  color: white;
  background-color: #F2906C;
  border: none;
  height: 48px;
  width: 140px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

section article {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

section article img {
  height: 200px;
  border-radius: 16px;
}

section article .detalii {
  margin-left: 32px;
}

section article .detalii .dataSiNume {
  margin-top: 12px;
}

section article .detalii .dataSiNume h1 {
  font-size: 24px;
}

section article .detalii .dataSiNume p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
  color: grey;
}

section article .detalii h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 12px;
}

section article .detalii .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section article .detalii .btn a button {
  background-color: white;
  margin-top: 12px;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

section article .detalii .btn a :hover {
  color: white;
  background-color: #F2906C;
}

.content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5vh;
}

.content main {
  width: 70%;
}

.content aside {
  width: 30%;
}
/*# sourceMappingURL=magazin.css.map */